.ipynb_checkpoints/pesuedoCl-checkpoint.ipynb
act_angular/act_beam/effective_beam.txt
legacy/Kernel_gy.png
legacy/Kernel_yy.png
legacy/map_gen.ipynb
legacy/output.png
legacy/pseudo_cl_CIB_1storder.png
legacy/psuedo_cl.png
legacy/psuedo_vs_original.png
legacy/psuedocl_CIB_2storder.png
legacy/psuedocl_dbeta_dT.png
legacy/psuedocl_dbeta.png
ver2/Cl_gg.txt
ver2/file_paths.txt
ver2/output/apodization.png
ver2/output/clgg.txt
ver2/output/compton_mask.png
ver2/output/pseudocl_dbeta_dT.png
ver2/output/pseudocl_dbeta.png
ver2/output/pseudocl.png
ver2/output/smooth_apodize_unWISE.png
ver2/output/corr/cl_gg_1.png
ver2/output/corr/cl_gg.png
ver2/output/corr/clgy_overmasked.png
ver2/output/corr/clgy_psuedo_compare.png
ver2/output/corr/clgy_psuedo.png
ver2/output/corr/clgy.png
ver2/output/corr/namaster_CIB_CIBdbeta_CIBdT_normalized.png
ver2/output/corr/namaster_CIB_CIBdbeta_normalized.png
ver2/output/corr/namaster_CIB_normalized.png
ver2/output/corr/namaster_yy.png
ver2/output/corr/bin/cl_gy_CIB_CIBdbeta_CIBdT_normalized.fits
ver2/output/corr/bin/cl_gy_CIB_CIBdbeta_CIBdT.fits
ver2/output/corr/bin/cl_gy_CIB_CIBdbeta_normalized.fits
ver2/output/corr/bin/cl_gy_CIB_CIBdbeta.fits
ver2/output/corr/bin/cl_gy_CIB_normalized.fits
ver2/output/corr/bin/cl_gy_CIB.fits
ver2/output/corr/bin/cl_gy_CMB_CIB_beta1_4_T10_14.npy
ver2/output/corr/bin/cl_gy_CMB_CIB_beta1_4_T24.npy
ver2/output/corr/bin/cl_gy_CMB_CIB_beta1_6_T10_14.npy
ver2/output/corr/bin/cl_gy_CMB_CIB_beta1_6_T24.npy
ver2/output/corr/bin/cl_gy_CMB_CIB_beta1_9_T10_14.npy
ver2/output/corr/bin/cl_gy_CMB_CIB_beta1_T24.npy
ver2/output/corr/bin/cl_gy_CMB_CIB.npy
ver2/output/corr/bin/cl_gy_CMB.npy
ver2/output/corr/bin/cl_gy_nodeproj.npy
ver2/output/corr/bin/namaster_CIB_CIBdbeta_CIBdT.png
ver2/output/corr/bin/namaster_CIB_CIBdbeta.png
ver2/output/corr/bin/namaster_CIB.png
ver2/output/corr/bin/test.fits
ver2/output/w1w2fit/no_deprojection_scatter.png
ver2/output/w1w2fit/w1_w2_CIB+CMB_default_fit.png
ver2/output/w1w2fit/w1_w2_CIB+CMB_T=10.14_beta=1.4_fit.png
ver2/output/w1w2fit/w1_w2_CIB+CMB_T=10.14_beta=1.6_fit.png
ver2/output/w1w2fit/w1_w2_CIB+CMB_T=10.14_beta=1.9_fit.png
ver2/output/w1w2fit/w1_w2_CIB+CMB_T=24_beta=1.0_fit.png
ver2/output/w1w2fit/w1_w2_CIB+CMB_T=24_beta=1.2_fit.png
ver2/output/w1w2fit/w1_w2_CIB+CMB_T=24_beta=1.4_fit.png
ver2/output/w1w2fit/w1_w2_CIB+CMB_T=24_beta=1.6_fit.png
ver2/output/w1w2fit/w1_w2_CIB+CMB+dT+dbeta_default_fit.png
ver2/output/w1w2fit/w1_w2_no_deprojection_fit.png
ver2/txt_output/y_mask.txt
ver3/result/images/CIBdepro_comparison0.png
ver3/result/images/CIBdepro_comparison1.png
ver3/result/images/CIBdepro_comparison2.png
ver3/result/images/complete_mask.png
ver3/result/images/namaster_comparison0_samplenobeam.png
ver3/result/images/namaster_comparison1_samplenobeam.png
ver3/result/images/namaster_comparison2_samplenobeam.png
ver3/result/nobeam/header_gy.csv
ver3/result/nobeam/namaster_comparison_gg.csv
ver3/result/nobeam/namaster_comparison_gy.csv
ver3/result/nobeam/namaster_comparison_gy.txt
ver3/result/nobeam/namaster_comparison_yy.csv
ver3/result/nobeam/namaster_comparison_yy.txt
ver3/result/nobeam/namaster_comparison0.txt
ver3/result/nobeam/namaster_comparison1.txt
ver3/result/nobeam/namaster_comparison2.txt
assets/__pycache__/__init__.cpython-311.pyc
assets/__pycache__/deprojection_index.cpython-311.pyc
assets/__pycache__/make_galaxy_map.cpython-311.pyc
assets/__pycache__/make_galaxy_map.cpython-311.pyc
__pycache__/unWISE_bincount_maps.cpython-311.pyc
sweep-000m005-005p000-pz.fits
Planck_temperature/namaster_cltt.txt
assets/__pycache__/make_galaxy_map.cpython-311.pyc
__pycache__/kebab.cpython-311.pyc
assets/__pycache__/make_galaxy_map.cpython-311.pyc
assets/__pycache__/make_galaxy_map.cpython-311.pyc
assets/__pycache__/make_galaxy_map.cpython-311.pyc
unwiseact_results/cibdBeta_results_nobeam.txt
unwiseact_results/cibdbeta_results.txt
assets/__pycache__/make_galaxy_map.cpython-311.pyc
unwiseact_results/cibdBeta_results_12_18.txt
__pycache__/unwiseact.cpython-311.pyc
act_DR4_DR5/act_dr4.01_D56_apo_w0.fits
act_DR4_DR5/act_dr4.01_mask_s13s16_0.015mJy_5.0arcmin.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_coadd_ivar.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_coadd_map_srcfree.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_coadd_srcs.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set0_ivar.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set0_map_srcfree.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set0_srcs.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set1_ivar.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set1_map_srcfree.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set1_srcs.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set2_ivar.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set2_map_srcfree.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set2_srcs.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set3_ivar.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set3_map_srcfree.fits
act_DR4_DR5/act_dr4.01_s15_D56_pa1_f150_nohwp_night_3pass_4way_set3_srcs.fits
act_DR4_DR5/act_dr4.01_s15_pa1_f150_nohwp_night_beam_tform_jitter_D56_cmbspec.txt
act_DR4_DR5/act_notebooks.yml
act_DR4_DR5/auto_cov_TTTT.txt
act_DR4_DR5/BIN_ACTPOL_50_4_SC_low_ell
act_DR4_DR5/camb_theory.dat
act_DR4_DR5/cross_cov_TTTT.txt
act_DR4_DR5/deep56_kfilter_tfunc_sim.txt
act_DR4_DR5/deep56_TT_spectrum.txt
act_DR4_DR5/pull_data_notebook_8_curl.sh
act_DR4_DR5/TT_cross_spectra.txt
act_DR4_DR5/mcm/mcm.json
act_DR4_DR5/mcm/w00.bin
assets/__pycache__/make_galaxy_map.cpython-311.pyc
unwiseact_results/cibdBeta_results_first_sample.txt
figures/mask/ilc_actplanck_ymap_deproj_cib_cibdBeta_1.0_10.7.fits.png
figures/mask/ilc_actplanck_ymap_deproj_cib_cibdBeta_1.2_10.7.fits.png
figures/mask/mask_composite.png
figures/mask/mask_subtracted_sources.fits.png
figures/mask/wide_mask_GAL070_apod_1.50_deg_wExtended_hd.fits.png
wide_mask_GAL070_apod_1.50_deg_wExtended_hd.fits.png
